* {
    box-sizing: border-box;
}

.buttons {
    position: absolute;
    left: 0;
    top: 95%;
    width: 100%;
    text-align: center;
}

.button.inactive {
    background-color: lightgray;
}

.button.active {
    background-color: dodgerblue;
}

.button {
    display: inline-block;
    border-width: 0;
    border-radius: 200px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 6px 6px 6px 6px;
    width: 14px;
    height: 14px;
}

body {
    margin: 0;
}

.test-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: rgba(247, 247, 247);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    opacity: 0.8;
    z-index: 1;
    font-family: sans-serif;
    text-align: center;
}

select, #login {
    width: 100%;
    padding: 10px 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-color: white;
}

input, #login {
    width: 100%;
    padding: 10px 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
}

.chkbox {
    width: auto;
}

.bold-text {
    font-weight: bold;
    font-size: 16px;
}

.button-submit {
    background-color: #46648b;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
